:root {
  --cl-primary: #b18ece;
  --cl-secondary: #d8d7f6;

  --cl-white: #fdf8fc;
  --cl-black: #2c2c34;
  --cl-gray: #494850;
  --cl-gray-light: #978897;

  --border-radius: 10px;
  --br-size: 1px;
  --max-z-index: 9999;
}
