---
import { Image } from "astro:assets";

import imgHero from "./../../assets/hero_img.png";
---

<div id="svg-hero">
  <svg
    width="482"
    height="494"
    viewBox="0 0 482 494"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g id="Group 47">
      <g id="lines">
        <path
          id="line-1"
          d="M450.436 245.184C475.504 141.988 363.804 57.8918 257.52 53.2005C147.458 48.3424 27.964 132.349 47.0159 240.654C64.4751 339.905 172.995 375.724 273.408 365.245C356.538 356.57 430.74 326.261 450.436 245.184Z"
          stroke="url(#paint0_linear_654_1136)"
          stroke-width="3"></path>
        <path
          id="line-3"
          d="M93 177.973C93 90.7794 158.964 35.9555 239.989 30.947C341.009 24.7025 467 47.9771 467 141.643C467 235.308 310.363 325 239.989 325C169.616 325 93 286.966 93 177.973Z"
          stroke="url(#paint1_linear_654_1136)"
          stroke-width="3"></path>
        <path
          id="line-2"
          d="M388 199.498C388 107.87 319.92 50.2583 236.294 44.9952C132.033 38.4332 2 62.8912 2 161.319C2 259.748 163.663 354 236.294 354C308.926 354 388 314.032 388 199.498Z"
          stroke="url(#paint2_linear_654_1136)"
          stroke-width="3"></path>
      </g>
      <g id="points">
        <circle id="point-1" cx="121" cy="18" r="12" fill="#B18ECE"></circle>
        <circle id="point-2" cx="50.5" cy="131.5" r="8.5" fill="#B18ECE"
        ></circle>
        <circle id="point-3" cx="395" cy="164" r="7" fill="#B18ECE"></circle>
        <circle id="point-4" cx="471" cy="47" r="11" fill="#B18ECE"></circle>
        <circle id="point-8" cx="333" cy="6" r="6" fill="#B18ECE"></circle>
        <circle id="point-5" cx="444" cy="322" r="6" fill="#B18ECE"></circle>
        <circle id="point-6" cx="30" cy="291" r="6" fill="#B18ECE"></circle>
        <circle id="point-7" cx="153" cy="244" r="11" fill="#B18ECE"></circle>
      </g>
      <g id="Ellipse 11" filter="url(#filter0_f_654_1136)">
        <ellipse cx="248" cy="449" rx="139" ry="11" fill="#D8D7F6"></ellipse>
      </g>
      <rect
        id="image-removebg-preview - 2024-01-29T113019 1"
        x="93"
        y="82"
        width="295"
        height="325"
        fill="url(#pattern0)"></rect>
    </g>
    <defs>
      <filter
        id="filter0_f_654_1136"
        x="75"
        y="404"
        width="346"
        height="90"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="17"
          result="effect1_foregroundBlur_654_1136"></feGaussianBlur>
      </filter>
      <pattern
        id="pattern0"
        patternContentUnits="objectBoundingBox"
        width="1"
        height="1"
      >
        <use
          xlink:href="#image0_654_1136"
          transform="matrix(0.00291545 0 0 0.0026455 -0.454811 -0.0026455)"
        ></use>
      </pattern>
      <linearGradient
        id="paint0_linear_654_1136"
        x1="249.5"
        y1="53"
        x2="249.5"
        y2="367"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#B18ECE"></stop>
        <stop offset="1" stop-color="#D8D7F6"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_654_1136"
        x1="280"
        y1="30"
        x2="280"
        y2="325"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#B18ECE"></stop>
        <stop offset="1" stop-color="#D8D7F6"></stop>
      </linearGradient>
      <linearGradient
        id="paint2_linear_654_1136"
        x1="195"
        y1="44"
        x2="195"
        y2="354"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#B18ECE"></stop>
        <stop offset="1" stop-color="#D8D7F6"></stop>
      </linearGradient>
    </defs>
  </svg>
  <Image src={imgHero} alt="Da" id="img-element" />
</div>
<style lang="scss">
  #svg-hero {
    position: relative;

    #img-element {
      position: absolute;
      left: 20%;
      bottom: 20%;
      width: 60%;
      height: auto;
    }
  }
  #points [id^="point"] {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    animation-name: display-opacity;
    animation-direction: alternate;
  }

  @for $id from 1 through 8 {
    #point-#{$id} {
      animation-delay: calc(0.5s * $id / 1.75);
    }
  }

  @keyframes display-opacity {
    to {
      opacity: 0;
    }
  }
</style>
