---
import homepageText from "../text/homepage.json";
import accentText from "../shared/functions/accentText.js";

import Layout from "../layouts/Layout.astro";
import HeroImg from "../components/svg/HeroImg.astro";

import Btn from "../shared/components/atoms/Btn.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      <Fragment set:html={accentText(homepageText.h1)} />
    </h1>
    <p>
      Te invităm sa descoperi cea mai potrivită metodă adaptată nevoilor tale!
    </p>
    <Btn
      value={{ href: "#", name: "Descoperă clasele noastre" }}
      type="link"
      solid
      classList="cta"
    />
    <HeroImg />
  </main>

  <style lang="scss" is:global>
    h1 .accent {
      font-weight: 800;

      background: var(--cl-liniar);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    main {
      padding-top: 5rem;
    }

    .cta {
      outline: var(--br-size) solid var(--cl-secondary);
      animation: 0.75s pulse infinite alternate ease;
    }

    @keyframes pulse {
      to {
        outline-width: calc(var(--br-size) * 7);
      }
    }
  </style>
</Layout>
